
<%- include("template/cabezera" , {tituloWeb : "Pagina Principal"}) %> 

    <h1 class="text-primary"> Seccion de Productos</h1>

    <%= for(var i = 0; i < productosArray.length; i++) {
      <li><%= productosArray[i] %></li>
    <%= } %>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <tr>
        <th scope="row">i</th>
        <td> productosArray.id </td>
        <td>productosArray.id</td>
        <td>productosArray.id</td>
        </tr>
    </tbody>
  </table>

<%- include("template/footer") %> 
